table {
    width: 100%;
    padding: 6px;

}

th {
    background-color: red;
    color: #fff;
    padding: 6px;
}

td {
    padding: 6px;

}
.itemList {
    border: 1px solid #000;
    border-radius: 10px;
    height: 100px;
}

.bnt-primary {
    background-color: aqua;
    border-radius: 8px;
}