/* login.css */
.login-container {
    /* Your styles for login container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 0vh; */
    width: 500px;
    flex-direction: column;
    background-color: #f4f4f4;
    border: 1px solid #dadada;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    padding: 16px;
    border-radius: 10px;
  }
  
  .login-form {
    /* Your styles for the form */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Other styles for input, buttons, etc. */
  